:root{
    --vermelho:#E50914;
    --preto:rgb(20, 20, 20);
}

body{
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;

}

.logo{
    color: var(--vermelho);
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 3em;
}